.login-card {
    background-image: url('../../assets/images/_\ \(1\)\ 1.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    min-width: 400px;
    min-height: 600px;
}
.phone-input {
    border-radius: 15px;
    padding: 10px 14px;
    font-size: 15px;
  }
.btn-white {
    background-color: #ffff;
    color: #000;
    padding: 10px;
    border-radius: 24px;
    z-index: 2 !important;
    width: fit-content;

}
.btn-container {
    position: relative;
}
.btn-container::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 1px;
    background-color: #ffff;
    z-index: 1;
}
.btn-google {
    background-color: #ffffff;
    color: #000;
    border-radius: 24px;
    padding: 14px;
    font-size: 13px;
    font-weight: 480;
    cursor: pointer;
    transition: .2s all ease;
  }
  
  .btn-google:active {
    transform: scale(0.97);
  }

  .otp-container {
   display: flex ;
   justify-content: center;
   gap: 10px;
   width: 100% ;
   margin-top: 15px;
   direction: ltr;
  }
  
  .otp-input {
    width: 42px ;
    height: 42px ;
    text-align: center;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 18px;
  }

  .timer {
    margin-top: 14px;
    font-size: 20px;
    color: #d8950edd;
    font-weight: 500;
  }

  .border-24{
    border-radius: 24px;
  }