.login-card {
    background-image: url('../../assets/images/_\ \(1\)\ 1.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    min-width: 400px;
    min-height: 600px;
}
.phone-input {
    width: 260px;
    height: 48px;
    border-radius: 15px;
    padding: 10px 14px;
    font-size: 15px;
  }
.btn-white {
    background-color: #ffff;
    color: #000;
    border: 1px solid;
    padding: 10px;
    border-radius: 24px;
    z-index: 2 !important;
    width: fit-content;

}
.btn-container {
    position: relative;
}
.btn-container::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 1px;
    background-color: #ffff;
    z-index: 1;
}
.btn-google {
    background-color: #ffffff;
    color: #000;
    border-radius: 24px;
    padding: 14px;
    font-size: 13px;
    font-weight: 480;
    cursor: pointer;
  }
  
  .btn-google:active {
    transform: scale(0.97);
  }
  