.btn-main {
    background-color: #F6417D;
    color: #F3F3F3;
    border-radius: 24px;
}

.appContainer {
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.main-banner {
    width: 100%;
    min-height: 200px;
    border-radius: 20px;
    background-image: url('./assets/images/dashboard.png');
    background-size: cover;
    background-position: center;
}

.overlay {
    position: absolute;
}

.overlay h3 {
    color: #fff;
    font-size: 15px;
    font-weight: bold;

}